<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484540223926-lb2kecaqk4vrtl6d5c882vl5edo9de8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484540223926-lb2kecaqk4vrtl6d5c882vl5edo9de8j</string>
	<key>API_KEY</key>
	<string>AIzaSyAoMM0LQh5KVW7AnuxyhtTK06PRqwtn4c8</string>
	<key>GCM_SENDER_ID</key>
	<string>484540223926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gebit.clientes.escolaagenda</string>
	<key>PROJECT_ID</key>
	<string>escolaagenda-20379</string>
	<key>STORAGE_BUCKET</key>
	<string>escolaagenda-20379.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:484540223926:ios:41d8ce47ad1c821b</string>
	<key>DATABASE_URL</key>
	<string>https://escolaagenda-20379.firebaseio.com</string>
</dict>
</plist>